Machine Learning

# Heading 1
## Heading 2
### Heading 3
#### Heading 4
##### Heading 5
###### Heading 6
#######normal text

**Bold**

*Italic*

***Bold&Italic***

__Bold__

In [2]:
print("hello Machineleaning")

hello Machineleaning

In [8]:
print("geetha",'anjali',500,sep='\n')

geetha
anjali
500

### Data types

- integer  --> int (12,-4)
- float  --> float (9.8,10.8)
- string  --> str  (avinash,abc,w,udsfisdfasdyfgsjahdfjshd)

## Variables

- variable is like a container to store data or value.
**Variable naming rules :**
- Should starts with alphabers
- shouldn't start with numbers or spaces.
- Doesn't contains any special character except underscore
- It may contains numbers followed by alphabets.

acs  --> valid
a_n  --> valid
23scd  --> invalid
k3  --> valid
d@a --> invalid
_n2  --> valid

In [2]:
a = 10
b = 'kavya'
c = 10.23

In [3]:
print(a,b,c)

10 kavya 10.23

In [4]:
print(a,b,c,sep='\n')

10
kavya
10.23

### checking the type of data and conversion
- we have a in-built method called type() which is used to check the type of any variable or data.
    - type(var_name)

In [5]:
type(b)

str

In [6]:
type(a)

int

In [7]:
type(a,c) # at a time we can check only one variable type...

TypeError: type() takes 1 or 3 arguments

### Conversions

- int
    - float -->float(int_var)
    - str  --> str(int_var)
- float
    - int  --> int(float_var)
    - str  --> str(float_var)
- str
    - we can't convert a string value to either int or float if and only if it is a numeric string.
    - if the entire string contains only digits then only we can convert it into int or float.

In [11]:
x = 12
y = 9.76
z = 'machine'

In [13]:
# int to float or str
float(x)
str(x)

'12'

In [14]:
int(y)

9

In [15]:
str(y)

'9.76'

In [17]:
z

'machine'

In [18]:
int(z)
float(z)

ValueError: invalid literal for int() with base 10: 'machine'

In [19]:
g = '2022'
int(g)

2022

In [20]:
float(g)

2022.0

### conditional statements and loops

- conditional statements or control-flow statements are used to alter the flow of execution based on conditions.
    - if
        ```
        if condition:
            statements
            .
            .
        ```
    - if else
        ```
        if condition:
            statements
        else:
            statements
        ```
    - if elif else
        ```
        if condition:
            statements
        elif condition:
            statements
        else:
            statements
        ```
    - if elif...
        ```
        if condition:
            statements
        elif condition:
            statements
        elif condition:
            statements
        ```
    - nested if
        ```
        if condition:
            statements
            if condition:
                statements
            else:
                statements
        else:
            statements
        ```

In [22]:
## WAP to check user given number is greater than 50 or not
n = int(input("Enter a number: "))
if n>50:
    print("Greater than 50")

Enter a number: 49

In [23]:
# WAP to check a given num is greater than 50 or lessthan 50
n = int(input("Enter a number: "))
if n>50:
    print("Greater than 50")
else:
    print("Less than or equal to 50")

Enter a number: 46
Less than or equal to 50

In [26]:
# WAP to check given number is positive or negative or zero
num = int(input())
if num==0:
    print("Zero")
elif num>0:
    print("+ve")
else:
    print("-ve")

5
+ve

### Loops

- loop:  to repeat the execution of single or multiple lines of code.
    - for loop
        - to iterate through a sequence like any datastructure.
        - number of iterations are known
        ```
        for var in sequence:
            statements
        ```
    - while loop
        - no of iterations are unknown
        - we have to initialize and increment/decrement the iteration variable in each ieration.
        ```
        var intialization
        while condition:
            statements
            incre/decre
        ```

- range(start,stop,step)
    - it will create a number sequence
    - start and step values are default valuez.
        - default start = 0
        - step = 1
    - stop value is user-defined and mandatory.
    - last value will be excluded.

In [28]:
for n in range(10):
    print(n,end=" ")

0 1 2 3 4 5 6 7 8 9

In [29]:
for i in range(1,11):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

In [30]:
for j in range(1,20,2):
    print(j,end=" ")

1 3 5 7 9 11 13 15 17 19

In [31]:
for t in range(2,21,2):
    print(t,end=" ")

2 4 6 8 10 12 14 16 18 20

In [32]:
for t in range(2,21,3):
    print(t,end=" ")

2 5 8 11 14 17 20

In [35]:
# 10 9 8 7 6 5 4 3 2 1 
for i in range(10,0,-1):
    print(i,end=" ")

10 9 8 7 6 5 4 3 2 1

In [37]:
# 13 11 9 7 5 3 1
for k in range(13,0,-2):
    print(k,end=" ")

13 11 9 7 5 3 1

In [39]:
## steve jobs
# wap to print each character in above name
for ch in 'steve jory

s
t
e
v
e

j
o
b
s

## while loop

- wap to print 1 to 10 numbers using while loop
- wap to print alternative numbers from 30 to 60
- wap to print all even numbers in a given range.
- wap to check whether a given number is prime or not.