In [14]:
s = "Geethanjali institute"
s[3]

't'

In [15]:
s[-2]

't'

In [16]:
print(s)

Geethanjali institute

In [19]:
#institute
print(s[12:])
print(s[-9:])

institute
institute

In [21]:
# how can we access alternative characters
print(s[::2])
print(s[0::2])

Gehnaiisiue
Gehnaiisiue

In [24]:
# alternatives from right side
print(s[21::-2])
print(s[::-2])

euisiianheG
euisiianheG

## String methods
- dir(str)

In [25]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [26]:
v = 'stEVe JoBs'
v.capitalize()

'Steve jobs'

In [27]:
v.swapcase()

'STevE jObS'

In [28]:
v.title()

'Steve Jobs'

In [29]:
v.lower()

'steve jobs'

In [30]:
v.upper()

'STEVE JOBS'

In [31]:
print(v)

stEVe JoBs

In [33]:
v.count('e')
v.count('s')

2

In [34]:
k = 'enhancement and professional growth'
help(str.index)

Help on method_descriptor:

index(...)
    S.index(sub[, start[, end]]) -> int

    Return the lowest index in S where substring sub is found,
    such that sub is contained within S[start:end].  Optional
    arguments start and end are interpreted as in slice notation.

    Raises ValueError when the substring is not found.

In [1]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [3]:
s = 'computer'
print(len(s))
s.center(10)

8

' computer '

In [5]:
s.center(30,'^')

'^^^^^^^^^^^computer^^^^^^^^^^^'

In [6]:
s.zfill(10)

'00computer'

In [9]:
s.ljust(14,'%')

'computer%%%%%%'

In [11]:
s.rjust(14,'o')

'oooooocomputer'

## Boolean methods
- islower()
- isupper()
- isnumeric()
- isdigit()
- isspace()
- istitle()
- isidentifier()
- isalpha()
- isalnum()
- isdecimal()

In [12]:
# rfind(),find(),rindex(),index()
p = 'pulpy orange'
p.index('a')

8

In [13]:
p.index('p')

0

In [14]:
p.rindex('p')

3

In [15]:
p.index('w')

ValueError: substring not found

In [16]:
p.find('w')

-1

In [17]:
p.find('p')

0

In [18]:
p.rfind('p')

3

## Lists
- Mutable and ordered data structure
- we can define it with []
- indexing and slicing as like strings
- allows duplicate elements
- we can store any type of data

In [19]:
li = [1,2,3,4,5] # same type of data
print(li)

[1, 2, 3, 4, 5]

In [22]:
l = ['karan','vandhana',567,98.7,'suma',1873,234.5]
print(l) # various types of data

['karan', 'vandhana', 567, 98.7, 'suma', 1873, 234.5]

In [24]:
l1 = [2,3,2,3,4,7,1]
print(l1) # allow duplicates
print(len(l1))

[2, 3, 2, 3, 4, 7, 1]
7

In [29]:
print(l1)

[2, 3, 2, 3, 4, 7, 1]

In [28]:
print(min(l1),max(l1),sum(l1))

1 7 22

## indexing and slicing

In [30]:
print(l)

['karan', 'vandhana', 567, 98.7, 'suma', 1873, 234.5]

In [31]:
l[1] # vandhana

'vandhana'

In [32]:
# anahdnav
l[1][::-1]

'anahdnav'

In [33]:
l[4][2]

'm'

## list methods
- dir(list)

In [34]:
print(dir(list))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

- 'append' --> to add a single element at the end
- 'clear'  --> to remove all elements
- 'copy'  --> to copy all the current list elements into another new list
- 'count'  --> to count repeatance of an element
- 'extend' --> to add two more elements at the end
- 'index'  --> to know the index value
- 'insert'  --> to add an element at a particular index position
- 'pop'  --> to remove last element(default) or to remove an element at a index position
- 'remove'  --> to remove a particular element
- 'reverse'  -->  to reverse the entire list
- 'sort'  --> to sort all the values in ascending order (same type)

In [35]:
l=[23,45,65,87,92]
l.append(45)
print(l)

[23, 45, 65, 87, 92, 45]

In [36]:
l.extend(['pulpy','mango',95,45])
l

[23, 45, 65, 87, 92, 45, 'pulpy', 'mango', 95, 45]

In [37]:
l1=l.copy()
print(l1)

[23, 45, 65, 87, 92, 45, 'pulpy', 'mango', 95, 45]

In [39]:
l1.clear()
l1

[]

In [40]:
l.count(45)

3

In [41]:
l.index(95)

8

In [42]:
l.insert(3,102)
l

[23, 45, 65, 102, 87, 92, 45, 'pulpy', 'mango', 95, 45]

In [43]:
l.remove(87)

In [44]:
l

[23, 45, 65, 102, 92, 45, 'pulpy', 'mango', 95, 45]

In [45]:
l.pop()

45

In [46]:
l.reverse()
l

[95, 'mango', 'pulpy', 45, 92, 102, 65, 45, 23]

In [49]:
l2=[34,76,98,26,78]
l2.sort()
l2

[26, 34, 76, 78, 98]

In [50]:
l2.sort(reverse=True)
l2

[98, 78, 76, 34, 26]

### Tuple
- Immutable and ordered data structure.
- indexing and slicing as like list or strings
- defined by using parathesis()
- we can store different types of data.
- allow duplicate elements or values

In [1]:
t = (1,2,3,4,5)
print(t)

(1, 2, 3, 4, 5)

In [2]:
t1 = ('blue','green','red',121,908,45.1)
print(t1)

('blue', 'green', 'red', 121, 908, 45.1)

In [3]:
print(t1[5],t1[-5])

45.1 green

In [4]:
t1[-1:-3]

()

In [5]:
t1[-3:-1]

(121, 908)

In [6]:
t1[::-1]

(45.1, 908, 121, 'red', 'green', 'blue')

In [7]:
t1[::2]

('blue', 'red', 908)

In [8]:
t1

('blue', 'green', 'red', 121, 908, 45.1)

In [9]:
# green 121 45.1
t1[1::2]

('green', 121, 45.1)

In [10]:
t1

('blue', 'green', 'red', 121, 908, 45.1)

In [25]:
# 45.1 121
t1[5:2:-2]

(45.1, 121)

In [26]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

## Dictionaries

- mutable and ordered ds
- we can store data like key:value pairs
- key must be unique and immutable and value may be any object
- defined with {}

In [27]:
d = {'name':'vennela','rollno':500,'branch':'CSE'}

In [28]:
print(d)

{'name': 'vennela', 'rollno': 500, 'branch': 'CSE'}

In [29]:
d1 = {'name':'karthik','rollno':202,'college':'gist',
     'rollno':506}
print(d1)

{'name': 'karthik', 'rollno': 506, 'college': 'gist'}

In [32]:
d2 = {'sqr':[1,4,9,16],'num':{1:1,6:36}}
print(d2)

{'sqr': [1, 4, 9, 16], 'num': {1: 1, 6: 36}}

### Dictionary methods
- dir(dict)

In [33]:
print(dir(dict))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

- get() --> to print the value of a particular key 
- values()  --> return all the list of values
- keys()  --> return all keys as a list
- pop()  --> it will remove a particular key value pair
- popitem()  --> it will remove last key:value pair
- update()  --> to add one or more key:value pairs

In [34]:
d

{'name': 'vennela', 'rollno': 500, 'branch': 'CSE'}

In [35]:
d.values()

dict_values(['vennela', 500, 'CSE'])

In [36]:
d.keys()

dict_keys(['name', 'rollno', 'branch'])

In [37]:
d.items()

dict_items([('name', 'vennela'), ('rollno', 500), ('branch', 'CSE')])

In [38]:
d1.get('name')

'karthik'

In [40]:
d1.get('rollno')

506

In [41]:
print(d1)

{'name': 'karthik', 'rollno': 506, 'college': 'gist'}

In [42]:
d1.pop('college')

'gist'

In [43]:
d1

{'name': 'karthik', 'rollno': 506}

In [44]:
d1.popitem()

('rollno', 506)

In [45]:
d1

{'name': 'karthik'}

In [46]:
d2

{'sqr': [1, 4, 9, 16], 'num': {1: 1, 6: 36}}

In [47]:
d2.clear()

In [48]:
d2

{}

In [49]:
s = {1,1,23,4,55,6,4,2}
print(s)

{1, 2, 4, 6, 23, 55}

### Functions

- Definition: A block of reusable code which performs a particular task.
- By using functions we can devide the entire program into small pieces or chunks.
- By using **def** keyword we can define a function.
- Types of functions:
    1. In-built functions
        - which are already there in the language.
        - ex: print(),input() etc,.
    2. user-defined functions
        - which are defined by the user.
        ```
        def func_name(args): # func definition
            statements      
            .                  # func body
            .
        func_name(params)     # function call
        ```

In [51]:
def greet(name):
    print("Hello !!!  ",name)
greet('praveen')
greet()

Hello !!!   praveen

TypeError: greet() missing 1 required positional argument: 'name'

In [53]:
def greet(name = 'vijay'): # default arguments
    print("Hello !!!  ",name)
greet('praveen')
greet()

Hello !!!   praveen
Hello !!!   vijay

In [59]:
def say(msg = 'Bye !!',name): # default & positional arguments
    print('Hello {0} , {1}'.format(name,msg))
say('Good aftrn','shobith')
say('steve jobs')

SyntaxError: non-default argument follows default argument (<ipython-input-59-2a2f8234004f>, line 1)

In [65]:
def say(name='Avinash',msg = 'Bye !!'): # default & positional arguments
    print('Hello {0} , {1}'.format(name,msg))
say('Good aftrn','shobith')
say('steve jobs')
say('good Morning')
say(msg='Good Night')

Hello Good aftrn , shobith
Hello steve jobs , Bye !!
Hello good Morning , Bye !!
Hello Avinash , Good Night

In [75]:
def Details(name,rollnum,branch):
    print('Hello {0},with rollnum  {1}, and Branch is {2}'.format(name,rollnum,branch))
Details(rollnum=20,name='Avinash',branch='CSE')

Hello Avinash,with rollnum  20, and Branch is CSE

In [73]:
14/2  #division

7.0

In [74]:
14//2   #Floordiv

7

In [82]:
def factors(n):
    for i in range(1,n+1):  #(1,n//2+1)
        if n%i==0:
            print(i,end=" ")
n=int(input('Enter Number:'))
factors(n)

Enter Number:12
1 2 3 4 6 12

In [86]:
def factor_count(n):
    c=0
    for i in range(1,n//2+1):  #(1,n//2+1)
        if n%i==0:
            c+=1
    print('Factor count:',c)
factor_count(int(input()))

6
Factor count: 3

In [119]:
def prime(n):
    c=0
    for i in range(1,n+1):
        if n%i==0:
            c+=1
    if c==2:
        return True
    else:
        return False
prime(int(input()))

5

True

In [114]:
def perfect(n):
    s=0
    for i in range(1,n):
        if n%i==0:
            s+=i
    #print('sum:',s)
    if s==n:
        return True
    else:
        return False
perfect(int(input()))

28

True

In [120]:
for j in range(1,10000):
    if perfect(j):
        print(j)

6
28
496
8128

In [123]:
for i in range(1,100):
    if prime(i):
        print(i,end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [127]:
def palindrome(s):
    if s==s[::-1]:
        return True
    else:
        return False
palindrome(input())

malayalam

True

In [129]:
'level'.reverse()

AttributeError: 'str' object has no attribute 'reverse'

In [134]:
l=input().split()
l1=[]
for i in l:
    if i==i[::-1]:
        l1.append(i)
print(l1)

nandini malayalam level
['malayalam', 'level']

#### Packages and Modules
- module: module is a .py files which contains functions
    - collection of .py files
    - modules are two types:
        - pre-defined module
            - ex: math,random etc...
        - user-defined module
            - created by user.
- Packages: Collection of modules
- **import** is used to import modules

In [136]:
import math
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'copysign', 'cos', 'cosh', 'degrees', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'pi', 'pow', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']

In [137]:
import math as m

In [144]:
print(m.sqrt(144))
print(m.factorial(10))
print(m.ceil(56.87))
print(m.floor(45.976))
print(m.pow(2,5))

12.0
3628800
57
45
32.0

In [146]:
import module as m

In [147]:
m.perfect(28)

True

In [148]:
m.prime(5)

True

In [149]:
m.palindrome('level')

True

In [150]:
print(dir(module))

['__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'factors', 'palindrome', 'perfect', 'prime']

In [155]:
from module import prime,perfect,factors

In [152]:
prime(5)

True

In [154]:
perfect(28)

True

In [156]:
factors(6)

1 2 3 6

- even
- odd
- factorial
- multiplication table
- vowels count

In [ ]:
def EvenorOdd(n):
    if n%2==0:
        return 'Even'
    else:
        return 'odd'
EvenorOdd(6)

In [160]:
def Factorial(n):
    fact=1
    for i in range(1,n+1):
        fact=fact*i
    print(fact)
Factorial(5)

120

In [161]:
def Table(n):
    for i in range(1,10+1):
        print(n,'*',i,'=',n*i)
Table(5)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [164]:
def vowel_count(s):
    c=0
    for ch in s:
        if ch in 'aeiouAEIOU':
            c+=1
    print('Vowels_count:',c)
vowel_count('program')

Vowels_count: 2

In [169]:
import module1 as m1

In [170]:
m1.EvenorOdd(5)

'odd'

In [171]:
m1.Factorial(7)

5040

In [172]:
from module1 import vowel_count,Table

In [173]:
Table(9)

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

In [174]:
vowel_count('level')

Vowels_count: 2